# Created by https://www.gitignore.io/api/scala,intellij

### Intellij ###
.idea/
*.iws
*.iml
# *.ipr
.idea_modules/

### Scala ###
target/
*.class
*.log

# End of https://www.gitignore.io/api/scala,intellij